

.products_table{
    border-collapse: collapse;
    width: 100%;
    margin:  auto 3em;

}
.th_p{
    width: 30%;
    padding: 1em 1em 1em 1em;

}
.th_category{
    padding-bottom: 1em;
    padding-left: 1em;

}
.thead_class{
    padding: 3em;
}
.t_head_table_Row{
    font-size: .8em;
    background-color: rgba(48, 5, 165, 0.925);
    color: #fcfcfc;
    padding-bottom: 10em;
    margin-bottom: 10em;
}
.category_link{
    padding: 1em;
}